.vehicle-log-top {
  /* width: 100%; */
  padding: 25px;
  display: flex;
  justify-content: space-between;
  align-items: end;
}
.Toastify__toast-container {
  z-index: 200000;
  }

.vehicle-log-top .heading h2 {
  font-size: 25px;
  font-weight: 600;
  line-height: 30px;
  color: #574e49;
  padding-bottom: 10px;
}

.vehicle-log-top .heading ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}

.vehicle-log-top .heading ul li {
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  color: #574e49;
}

.vehicle-log-top .heading ul li strong {
  font-weight: 600;
}

.vehicle-log-top .links ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  border-bottom: 1px solid #16584066;
}

.vehicle-log-top .links ul li {
  font-size: 25px;
  font-weight: 500;
  line-height: 30px;
  color: #165840;
}

.vehicle-log-top .links ul li a {
  color: #165840;
  padding: 10px 0;
  display: block;
  background-position: bottom;
}

.vehicle-log-top .links ul li a.active {
  background: url(../../Assets/images/union.png) no-repeat bottom;
}

.vehicle-log-tabs {
  max-width: 99vw;
  padding: 0 25px;
}

.vehicle-log-filter-list-grid {
  padding: 25px 25px 5px 25px;
}

.vehicle-log-filter-list-grid select {
  appearance: none;
  -webkit-appearance: none;
  background: #ffffff url(../../Assets/images/dd-arrow.png) no-repeat right;
  padding: 10px 40px 10px 10px;
  border: 1px solid #adbc92;
  border-radius: 8px;
  width: auto;
  min-width: 200px;
  display: block;
  color: #574e49;
  font-size: 14px;
  line-height: 16px;
}

.vehicle-log-content-grid {
  display: grid;
  grid-template-columns: repeat(2, 49%);
  column-gap: 30px;
  padding: 0 25px 25px;
}

.vehicle-log-content-list {
  display: grid;
  grid-template-columns: repeat(1, 100%);
  column-gap: 30px;
  padding: 0 25px 25px;
}

.details-box {
  display: inline-block;
  width: 100%;
  background-color: #ffffff;
  border: 1px solid #cbd2c9;
  border-radius: 10px;
  align-self: flex-start;
  margin-bottom: 30px;
  box-shadow: 10px 15px 25px 0 rgba(0,0,0,.2);
  transition: all .5s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.details-box:hover {
  transform: scale(1.02);
}
.details-box .top-box {
  padding: 10px 15px;
  min-height: 40px;
  background-color: #87cce1;
  border-radius: 10px 10px 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.details-box .top-box h4 {
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  color: #ffffff;
}

.details-box .top-box p a {
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}

.details-box .grey-box {
  padding: 10px 15px;
  min-height: 40px;
  background-color: #f0f3ef;
  position: relative;
}

.details-box .grey-box ul {
  margin: 0;
  padding: 0 12px;
  list-style: disc;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
}

.details-box .grey-box ul li {
  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: #574e49;
}

.details-box .grey-box ul li strong {
  font-weight: 600;
}

.details-box .input-box {
  padding: 15px 15px 0 15px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.details-box .input-box .field25 {
  flex: 25%;
  max-width: 25%;
}

.details-box .input-box .field50 {
  flex: 50%;
  max-width: 50%;
}

.details-box .input-box label {
  display: block;
  font-size: 13px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  color: #747474;
  padding-bottom: 5px;
}

.details-box .input-box input[type="text"] {
  background-color: #f0f3ef;
  border: 1px solid #adbc92;
  border-radius: 8px;
  color: #574e49;
  display: block;
  font-size: 14px;
  padding: 7px 10px;
  width: 100%;
}

input:disabled{
  background-color: #f0f3ef!important;
}

.details-box .reminder-box {
  padding: 15px;
}

.details-box .reminder-box h5 {
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  color: #165840;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  margin-bottom: 5px;
}

.details-box .reminder-box ul {
  margin: 0;
  padding: 0 12px;
  list-style: disc;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
}

.details-box .reminder-box ul li {
  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: #574e49;
}

.details-box .note-box {
  padding: 0 15px 15px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.details-box .note-box .img {
  width: 80px;
  height: 80px;
  background-color: #1658401a;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.details-box .note-box .txt {
  width: calc(100% - 100px);
  min-height: 80px;
  background-color: #f0f3ef;
  border: 1px solid #adbc92;
  border-radius: 8px;
  padding: 12px;
}

.details-box .note-box .txt p {
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: #574e49;
}
.logexpand{
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}
.vehicle-log-content-grid .logexpand{
  display: none;
}
.vehicle-log-content-list .detail-innerbox{
  display: none;
}
.detail-innerbox.expand{
  display: block;
}

@media only screen and (max-width: 760px) {
  .vehicle-log-top {
    flex-wrap: wrap;
  }

  .vehicle-log-top .heading h2 {
    font-size: 20px;
  }

  .vehicle-log-top .heading ul {
    flex-wrap: wrap;
    gap: 10px;
  }

  .vehicle-log-top .heading ul li {
    font-size: 16px;
  }

  .vehicle-log-top .links ul li {
    font-size: 20px;
  }

  .vehicle-log-content {
    columns: 1 200px;
  }

  .details-box .top-box h4 {
    font-size: 16px;
  }

  .details-box .top-box p a {
    font-size: 14px;
  }

  .details-box .grey-box ul {
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0;
  }

  .details-box .input-box {
    flex-wrap: wrap;
    gap: 5px;
  }

  .details-box .input-box .field25 {
    flex: 100%;
    max-width: 100%;
  }

  .details-box .input-box .field50 {
    flex: 100%;
    max-width: 100%;
  }

  .details-box .reminder-box h5 {
    font-size: 16px;
  }

  .details-box .reminder-box ul {
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0;
  }
  .logexpand{
    display: none;
  }
}

@media only screen and (min-width: 761px) and (max-width: 1250px) {
  .details-box .input-box {
    flex-wrap: wrap;
  }

  .details-box .input-box .field25 {
    flex: 48%;
    max-width: 48%;
  }

  .details-box .input-box .field50 {
    flex: 48%;
    max-width: 48%;
  }

  .details-box .grey-box ul {
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0;
  }

  .details-box .reminder-box ul {
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0;
  }
}


.detail-innerbox .prefix-currency{
  position: absolute!important;
  padding-top: 6px!important;
  padding-left: 10px!important;
  top:auto;
  left:auto;
}

.detail-innerbox .cost-input{padding-left: 22px!important;}